@font-face {
    font-family: "pixel-face";
    src: url("assets/emulogic.ttf") format("truetype");
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}
:root {
    color-scheme: dark;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    aspect-ratio: 0.78;
    width: auto;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@media only screen and (max-width:550px) and (min-height: 600px){
    canvas {
        width: 90%;
        height: auto;
    }
}
.canvascontainer {
    width:  1600px;
    height: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fps {
    position: fixed;
    left: 5px;
    top: 5px;
    font-size: 2rem;
}