html, body {
    margin:0;
    width:100%;
    height:100%;
    overflow: hidden;
}
:root {
    color-scheme: dark;
}
canvas {
    border: 2px solid black;
    height:100%;
    width:100%;
}
.canvascontainer {
    height:100%;
    width:100%;
    display: grid;
    place-content: center;    
}